<div class="row">
    <div class="col s8 offset-s2">
        <h4 class="left">Customer Feedback</h4>
        <a (click)='addItem()' href="#" id="marg" class="waves-effect btn right">
            <i class="material-icons left">add</i>Add New
        </a>
    </div>
</div>

<div *ngIf='addState'>
    <app-add-new></app-add-new>
</div>

<div *ngIf='feedbacks?.length > 0;else noFeedback'>
    <div *ngFor='let f of feedbacks'>
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card teal accent-4 hoverable">
                    <div class="card-content white-text">
                        <span class="card-title">{{f.name}}<p class="right">{{f.category}}</p></span>
                        <p>{{f.body}}</p>
                        <p *ngIf='!deleteState'><button class="btn-floating red right" (click)='onDeleteClick($event, f)'><i class="material-icons">delete</i></button></p>
                        <div *ngIf='deleteState && inQuestion.key == f.key' class="card-action"><p class="right">Are you sure? <a id='pl' href="#" (click)='deleteF($event, f.key)' class="red-text text-lighten-1">Yes</a><a href="#" (click)='changeback()' class="teal-text text-lighten-5" id="no">No</a></p>
                        </div>
                        <p *ngIf='deleteState && inQuestion.key != f.key'>
                            <button class="btn-floating disabled right"><i class="material-icons">delete</i></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noFeedback>
    <hr>
    <h5>There is no feedback in the system.</h5>
</ng-template>