/* You can add global styles to this file, and also import other style files */
.alerty{
    padding: 5px;
    border-radius: 10px;
}
.alerty p{
    margin-left: 10px;
}

#buttStyle{
    display: block;
    width: 40%;
    min-width: 110px;
    margin: 0 auto;
}

#smallerText{
    font-size: 18px;
}